# Build directories
/build/
*/build/
CMakeCache.txt
CMakeFiles/

# VS Code
.vscode/settings.json
.vscode/ipch/
.vscode/launch.json
.vscode/tasks.json

LogData/
.Firmware/tests/venv/
# macOS / Linux
.DS_Store
*.o
*.a
*.so
